@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 1088px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #231F20;
	text-outline : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 726px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 726px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
